<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codersdc.codersdclibvideoplayer">

    <application>
        <service
            android:name="com.codersdc.codersdclibvideoplayer.service.MusicService"
            android:enabled="true" />
        <receiver
            android:name="com.codersdc.codersdclibvideoplayer.service.NotificationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="NEXT" />
                <action android:name="PREVIOUS" />
                <action android:name="PLAY" />
            </intent-filter>
        </receiver>
    </application>
</manifest>